.movie-cover{
    :hover{
        transform: scale(1.03);
    }
}

.bg-general{
    background-color: #15171c;
}

body{
    background-color: #ff9d00;
    background-image: url('../img/Rainbow-Vortex.svg');
    background-attachment: fixed;
    background-size: cover;

    .footer{
        left: 0;
        bottom: 0;
    }
}

.iconHover{
    &:hover{
        color: #007bff!important;
    }
}