.movie-cover :hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.bg-general {
  background-color: #15171c;
}

body {
  background-color: #ff9d00;
  background-image: url("../img/Rainbow-Vortex.svg");
  background-attachment: fixed;
  background-size: cover;
}

body .footer {
  left: 0;
  bottom: 0;
}

.iconHover:hover {
  color: #007bff !important;
}
/*# sourceMappingURL=main.css.map */